body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background: #f9f9f9;
}

header, nav, h2 {
  text-align: center;
}

nav a {
  margin: 10px;
  text-decoration: none;
  color: #0077cc;
}

table {
  margin: auto;
  border-collapse: collapse;
  width: 80%;
}

table, th, td {
  border: 1px solid black;
  padding: 8px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.gallery img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}
.video-section {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.event-video {
  width: 100%;
  height: 400px;   /* adjust height */
  max-width: 900px;
  border-radius: 10px;
  object-fit: cover; /* fills height */
  background: #000;
}
